<html>
  <head>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <style>
      #wrapper {
       width: 80%; 
      }
    </style>
  </head>
  <body>
    <div class="text-center">
      <h1>WTFSISR</h1>
      <b>What the fuck should you speedrun? Pick your fucking consoles</b>
      <form name="choose_form" action="" method="post">
        {% set counter = 0 %}
        {% for console in consoles %}
          <input type="checkbox">{{ console[0] }}  
          {% set counter = counter + 1 %}
          {% if counter is divisibleby(3) %}
            <br>
          {% endif %}
        {% endfor %}
        <input type="submit">
      </form>
    </div>
  </body>
</html>
